node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#secret
.secret

#next files
.next

#lock files
yarn.lock
yarn-error.log

backend/venv-arythmatic/Lib

nft-ai/vqgan_imagenet_f16_16384.ckpt
nft-ai/vqgan_imagenet_f16_16384.yaml